<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
        
    {{>header}}

    <h3>This is Help Page! Please goto weather page to search weather of you city.</h3>
    </div>
{{>footer}}
</body>
</html>